// Clients Zone Styles Open
.clients-zone{
  width: 100%;
  height: 100%;
  @include display-flex-col;

  h2{
    font-size: 40px;
    color: $grey;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 2% 0;
  }

  .price-lists{
    width: 50%;
    height: auto;
    background-color: rgba(0,0,0,.8);
    padding: 5% 0;
    @include display-flex-col;

    .price-file{
      @include display-flex-row;

      i{
        font-size: 2rem;
        color: #ffff99;
        cursor: pointer;
      }

      p{
        font-size: 13px;
        color: #fff;
      }
    }
  }
}
