// Cover Section Styles Open
.cover-section{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  div{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;


    h1{
      margin-top: 40vh;
      color: #fff;
      letter-spacing: 5px;
      font-size: 70px;
      font-family: 'Raleway', sans-serif;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }

    p{
      margin-top: 1%;
      color: $red;
      letter-spacing: 2px;
      font-size: 35px;
      font-family: 'Raleway', sans-serif;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    }
  }

  // Set Image to each slide
  .first-slide{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/container-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //background-image: url('../img/container-background.png');
  }

  .second-slide{
    background-image: url('../img/cover-images/zona-franca-libertad-2.jpg');
  }

  .third-slide{
    background-image: url('../img/cover-images/zona-franca-libertad-3.jpg');
  }
}

// Cover Section Media Querys
@media screen and (max-width: 992px){
  .cover-section{
    width: 100%;
    height: 100vh;

    div{
      width: 100%;
      height: 60vh;

      h1{
        font-size: 22px;
        margin-top: 45%;
      }
      p{
        font-size: 15px;
        margin-top: 3%;
      }
    }
  }
}
