// Optic Section Styles Open
.optic{
  width: 100%;
  height: 100%;
  @include display-flex-col;
  text-align: center;
  background-image: url('../img/optic/optic-cover.png');
  background-repeat: repeat;
  background-size: cover;

  h2{
    font-size: 40px;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2%;
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 5px 6px #444444;
  }

  .optic-carousel{
    width: 70%;
    background-color: rgba(0,0,0, .4);
    height: 200px;
    z-index: 100000000000000000000000000000;
    border-radius: 100px;

    .slick-prev, .slick-next{
      background-color: $red;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      @include display-flex-col;
    }

    .slick-prev:before , .slick-next:before{
      color : #fff;
    }

    .optic-carousel-logo{
      height: 180px;
      @include display-flex-col;

      img{
        height: 80px;
        width: auto;
        cursor: pointer;
      }

      img:hover{
        border: 1px solid $red;
      }
    }
  }
}

// Optic Section Media Query
@media screen and (max-width: 640px){
  .optic{
    .optic-carousel{
      border-radius: 0;

      .optic-carousel-logo{
        img{
          height: 60px;
          width: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1092px){
  .optic{
    background-size: 150%;
    animation: move 10s linear infinite alternate;
    @keyframes move {
        from{
          background-position: bottom left;
        }
        to{
          background-position: top right;
        }
    }
  }
}
