// personal-care Section Styles Open
.personal-care{
  width: 100%;
  height: 100%;
  @include display-flex-col;
  text-align: center;
  background-image: url('../img/personal-care/personal-care-cover.jpeg');
  background-repeat: no-repeat;
  background-size: cover;


  h2{
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2%;
    font-family: 'Inconsolata', monospace;
    text-shadow: 2px 5px 6px #444444;
  }

  .personal-care-carousel{
    width: 70%;
    background-color: rgba(0,0,0, .4);
    height: 200px;
    z-index: 100000000000000000000000000000;
    border-radius: 100px;

    .slick-prev, .slick-next{
      background-color: $red;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      @include display-flex-col;
    }

    .slick-prev:before , .slick-next:before{
      color : #fff;
    }

    .personal-care-carousel-logo{
      height: 180px;
      width: 200px;
      @include display-flex-col;

      img{
        height: 90px;
        width: auto;
        cursor: pointer;
      }

      img:hover{
        border: 1px solid $red;
      }
    }
  }
}

// personal-care Section Media Query
@media screen and (max-width: 640px){
  .personal-care{

    .personal-care-carousel{
      border-radius: 0;

      .personal-care-carousel-logo{
        img{
          height: 75px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px){
  .personal-care{
    background-size: 150%;
    animation: move 10s linear infinite alternate;
    @keyframes move {
        from{
          background-position: bottom left;
        }
        to{
          background-position: top right;
        }
    }
  }
}
