<!-- Clients Zone -->
<section class="clients-zone">
  <h2>Zona para clientes <i class="fas fa-users"></i></h2>

  <div class="price-lists">
    <div class="price-file">
      <i class="fas fa-folder"></i>
    </div>
    <div class="price-file">
      <i class="fas fa-folder"></i>
    </div>
    <div class="price-file">
      <i class="fas fa-folder"></i>
    </div>
    <div class="price-file">
      <i class="fas fa-folder"></i>
    </div>
    <div class="price-file">
      <i class="fas fa-folder"></i>
    </div>
  </div>
</section>
