<!-- Client Carousel Section Open -->
<section class="clients-carousel">
  <h2>Algunos de nuestros clientes</h2>
  <!-- Carousel content Open -->
  <div class="clients-carousel-content">
    <div class="client-image">
      <img src="img/clients/barao-rivera-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/bekart-client-2.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/chuy-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/colonial-rivera-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/dfa-rio-branco-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/dfa-rio-branco-client-2.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/duty-free-rivera-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/fenix-rivera-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/luryx-rivera-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/mario-rio-branco-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/maua-rio-branco-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/maua-rivera-client-2.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/melancia-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/paris-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/paysandu-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/romis-chuy-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/the-place-rio-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/the-place-rivera-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/the-place-rivera-client-2.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/xenia-bella-union-client-1.jpg" alt="">
    </div>
    <div class="client-image">
      <img src="img/clients/xenia-bella-union-client-2.jpg" alt="">
    </div>
  </div>
  <!-- Carousel Content Close -->
  <script src="../js/import-components.js"></script>
</section>
<!-- Clients Carousel Section Close -->
