<!-- Login Section Open -->
<section class="login">
  <div class="login-panel animate fadeInLeft wow">
    <i class="fas fa-user-circle"></i>
    <!-- Input Block Open -->
    <div class="input-block">
      <div class="input-icon">
        <i class="fas fa-user"></i>
      </div>
      <input class="user-id" type="text" name="" value="" placeholder="ID">
      <i class="fas fa-check-circle animated wow fadeInLeft id-success"></i>
      <i class="fas fa-exclamation-triangle animated wow fadeInLeft id-wrong"></i>
    </div>
    <!-- Input Block Close -->

    <!-- Input Block Open -->
    <div class="input-block">
      <div class="input-icon">
        <i class="fas fa-lock"></i>
      </div>
      <input class="user-password" type="password" name="" value="" placeholder="Password">
      <i class="fas fa-check-circle animated wow fadeInLeft pass-success"></i>
      <i class="fas fa-exclamation-triangle animated wow fadeInLeft pass-wrong"></i>
    </div>
    <!-- Input Block Close -->

    <input id="login-btn-enter" type="button" value="Ingresar">
  </div>
</section>
<!-- Login JavaScript File -->
<script src="js/login.js"></script>
<!-- Login Section Close -->
