<!-- Perfumery Section Open -->
<section class="perfumery">
  <h2>Perfumería</h2>
  <div class="perfumery-carousel">
    <div class="perfumery-carousel-logo">
      <img src="../img/logos/ellen-tracy-logo.png" onclick="window.open('../other-files/perfumery/ellen-tracy-perfumery.pdf')" alt="">
    </div>
    <div class="perfumery-carousel-logo">
      <img src="../img/logos/ferrari-logo.png" onclick="window.open('../other-files/perfumery/mustang-perfumery.pdf')" alt="">
    </div>
    <div class="perfumery-carousel-logo">
      <img src="../img/logos/lamborghini-logo.png" onclick="window.open('../other-files/perfumery/lamborghini-perfumery.pdf')" alt="">
    </div>
    <div class="perfumery-carousel-logo">
      <img src="../img/logos/linn-young-logo.png" onclick="window.open('../other-files/perfumery/linn-young-perfumery.pdf')" alt="">
    </div>
    <div class="perfumery-carousel-logo">
      <img src="../img/logos/real-time-logo.png" onclick="window.open('../other-files/perfumery/real-time-perfumery.pdf')" alt="">
    </div>
  </div>
  <script src="../js/import-components.js"></script>
</section>
<!-- Perfumery Section Close -->
